<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--执行的sql语句-->
<mapper namespace="com.top.model">
    <select id="loginCase" parameterType="Integer" resultType="com.top.model.LoginCase">
        select * from logincase where id=#{id} ;
    </select>

    <select id="getUserInfo" parameterType="Integer" resultType="com.top.model.GetUserInfoCase">
        select * from getuserinfocase where id=#{id};
    </select>

    <select id="sendLottery" parameterType="Integer" resultType="com.top.model.SendLotteryCase">
        select * from sendLotteryCase where id=#{id};
    </select>

    <select id="sendLotteryInfo" parameterType="Integer" resultType="com.top.model.SendLotteryInfoCase">
        select * from sendLotteryInfoCase where id=#{id};
    </select>

    <select id="bettingLottery" parameterType="Integer" resultType="com.top.model.BettingLotteryCase">
        select * from bettingLotteryCase where id=#{id};
    </select>

    <select id="getLottoryExpireTime" parameterType="Integer" resultType="com.top.model.GetLottoryExpireTimeCase">
        select * from getLottoryExpireTime where id=#{id};
    </select>



</mapper>